.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

input {
  font-size: 1.2em;
  width: 90vw;
}


input.error {
  border: 3px solid red;
}
